controller_projects:
{% for item in projects.assets.projects -%}
 - name: "{{ item.name }}"
  description: "{{ item.description }}"
  organization: "{{ item.organization.name }}"
  scm_type: "{{ item.scm_type }}"
  scm_url: "{{ item.scm_url }}"
  local_path: "{{ item.local_path }}"
  scm_branch: "{{ item.scm_branch }}"
  scm_refspec: "{{ item.scm_refspec }}"
  scm_credential: "{{ item.credential }}"
  scm_clean: {{ item.scm_clean }}
  scm_delete_on_update: {{ item.scm_delete_on_update }}
  scm_update_on_launch: {{ item.scm_update_on_launch }}
  scm_update_cache_timeout: {{ item.scm_update_cache_timeout }}
  allow_override: {{ item.allow_override }}
  timeout: {{ item.timeout }}
  default_environment: "{{ item.default_environment }}"
  {% if item.related.notification_templates_started | length > 0 -%}
  notification_templates_started:
  {% for notification in item.related.notification_templates_started -%}
  - {{ notification.name }}
  {% endfor -%}
  {% else -%}
  notification_templates_started: []
  {% endif -%}
  {% if item.related.notification_templates_success | length > 0 -%}
  notification_templates_success:
  {% for notification in item.related.notification_templates_success -%}
  - {{ notification.name }}
  {% endfor -%}
  {% else -%}
  notification_templates_success: []
  {% endif -%}
  {% if item.related.notification_templates_error | length > 0 -%}
  notification_templates_error:
  {% for notification in item.related.notification_templates_error -%}
  - {{ notification.name }}
  {% endfor -%}
  {% else -%}
  notification_templates_error: []
  {% endif -%}
  state: "present"

{% endfor %}


